body {
  margin: 0;
  font-family: sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.content table {
  border-collapse: collapse;
  padding: 8px;
}

.content td,
th {
  padding: 8px;
}

.content input,
a {
  padding: 8px;
}

button {
  border: none;
  padding: 10px;
}

button[type="submit"] {
  cursor: pointer;
}
